[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[user]
	name = Nathan Waelkens
	email = nathan@imigo.nl
[core]
	excludesfile = /home/vagrant/.gitignore
